* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #26313F;
    font-family: 'Lora';
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.navbar .navbar-list a {
    color: #4172AD;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    display: inline-block;
    margin: 0.6rem;
}

.navbar .navbar-list a:last-child {
    margin-right: 0px;
}

.navbar .navbar-extra a {
    color: #4172AD;
    margin: 0 8px;
}

.bar {
    width: 1.6rem;
    height: 2px;
    background-color: #4172AD;
    margin: 2px 0;
    transition: 0.4s;
}

#hamburger-menu {
    display: none;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container .content{
    width: 100%;
    height: 27.8rem;
    background-image: url('../asset/img/Tempat-Tinggal-Terbaik-di-Bali.jpg');
    background-attachment:fixed;
    background-size:cover;
}

.container .content h1{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    margin-top: 10rem;
}

.container .content p{
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-top: 0.6rem;
}

.container .content .light1{
    background-color: #4172AD;
}

.container .box-content{
    background-color: #4172AD;
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 0.6rem;
}

.detail .main_info{
    display: flex;
}

.main_info h1{
    font-size: 20px;
    color: #26313F;
    text-align: center;
}
.main_info p{
    font-size: 16px;
    color: #26313F;
    text-align: center;
    margin-top: 0.6rem;
}

.main_info img{
    width: 1.5rem;
}

.main_info .duration{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 5px;
    margin-right: 5%;
    width: 12.5rem;
    height: 6.25rem;
    box-shadow:#cbcbcb 0px 0px 0px 2px;
}

.main_info h1 {
    width: 70%;
}

.main_info .periode{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 5px;
    margin-right: 5%;
    width: 12.5rem;
    height: 6.25rem;
    box-shadow:#cbcbcb 0px 0px 0px 2px;
}

.main_info .price-pax{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 5px;
    margin-right: 5%;
    width: 12.5rem;
    height: 6.25rem;
    box-shadow:#cbcbcb 0px 0px 0px 2px;
}

.detail .descript{
    text-align: justify;
    color: #26313F;
    background-color: #fff;
    margin-top: 3rem;
    padding: 2rem;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: #464b51 5px 5px 20px 5px, #cbcbcb 0px 0px 0px 1px;
}

.detail .desti_facy{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    text-align: justify;
    line-height: 2;
    margin-top: 3rem;
}

.desti_facy .desti{
    color: #26313F;
    background-color: #fff;
    width: 45%;
    padding: 2rem;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: #464b51 5px 5px 20px 5px, #cbcbcb 0px 0px 0px 1px;
}

.desti ul{
    margin-top: 0.6rem;
}

.desti li{
    list-style-image: url('../asset/icon/list_desti.svg');
    list-style-position: inside;
    font-size: 18px;
    color: #26313F;
}

.desti_facy .facy{
    color: #26313F;
    background-color: #fff;
    width: 45%;
    padding: 2rem;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: #464b51 5px 5px 20px 5px, #cbcbcb 0px 0px 0px 1px;
}

.facy ul{
    margin-top: 0.6rem;
}

.facy li{
    list-style-image: url('../asset/icon/checklist.svg');
    list-style-position: inside;
    font-size: 18px;
    color: #26313F;
}

.detail .hto{
    margin-top: 3rem;
    color: #26313F;
    background-color: #fff;
    padding: 2rem;
    font-size: 20px;
    border-radius: 5px;
    line-height: 2;
    box-shadow: #464b51 5px 5px 20px 5px, #cbcbcb 0px 0px 0px 1px;
}

.detail .hto p{
    margin-top: 0.6rem;
}

.detail .hto p img{
    width: 1.25rem;
    margin-right: 0.3rem;
}

.detail .hto a{
    color: #26313F;
}

.detail .hto a:hover{
    color: #4172AD;
}

.hto .socmed{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.hto .socmed a{
    margin: 0 3% 0 3%;
}

.hto .socmed img{
    width: 2rem;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    left: 0;
    right: 0;
    width: 100%;
    height: 8rem;
    padding: 1rem;
    z-index: 0;
}

.footer .voya {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.voya .address {
    margin-left: 3rem;
}

.footer .follme img {
    width: 1.6rem;
    margin-top: 0.6rem;
    margin-right: 0.3rem;
}

/* Responsive Media Queries */
/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

    .main_info h1{
        font-size: 18px;
    }

    .main_info p{
        font-size: 14px;
    }

    .detail .descript{
        font-size: 16px;
    }

    .desti_facy .desti{
        font-size: 16px;
    }

    .desti_facy .desti li{
        font-size: 14px;
    }

    .desti_facy .facy{
        font-size: 16px;
    }

    .desti_facy .facy li{
        font-size: 14px;
    }

    .detail .hto{
        font-size: 16px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    
    .navbar {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        position: relative; /* Tambahkan ini */
    }
    
    .navbar .navbar-list {
        position: absolute;
        top: 6.2rem;
        width: 20%;
        right: -20%;
        height: 100vh;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    
    .navbar .navbar-list.active {
        right: 0;
        z-index: 1000;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
    
    .navbar .navbar-list a {
        color: #4172AD;
        display: block;
        margin: 0.9rem;
        padding: 0.3rem;
        margin-right: 3rem;
    }
    
    .navbar .navbar-list a:last-child {
        margin-right: 3rem;
    }
    
    #hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 1.2rem;
    }

    .main_info h1{
        font-size: 14px;
    }

    .main_info p{
        font-size: 11px;
    }
}

/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .navbar {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }

    .navbar .navbar-list {
        top: 6.5rem;
        width: 30%;
    }

    .navbar .navbar-list.active {
        right: -30%;
    }

    .main_info h1{
        font-size: 12px;
    }

    .main_info p{
        font-size: 9px;
    }

    .detail .descript{
        font-size: 14px;
    }

    .desti_facy .desti{
        font-size: 14px;
    }

    .desti_facy .desti li{
        font-size: 12px;
    }

    .desti_facy .facy{
        font-size: 14px;
    }

    .desti_facy .facy li{
        font-size: 12px;
    }

    .detail .hto{
        font-size: 14px;
    }
}